[submodule "redis"]
	path = redis
	url = https://github.com/papercavalier/redis-cookbook.git
[submodule "webapp"]
	path = webapp
	url = https://github.com/fnichol/chef-webapp.git
[submodule "rvm_passenger"]
	path = rvm_passenger
	url = https://github.com/fnichol/chef-rvm_passenger.git
[submodule "rvm"]
	path = rvm
	url = https://github.com/fnichol/chef-rvm.git
